.container {
	display: grid;
	border: 1px solid black;
	align-items: center;
	justify-items: center;
}

.container > img {
	width: 70%;
	margin-top: 5px;
}

@media (min-width: 500px) {
	.container > img {
		width: 80%;
		max-width: 600px;
	}
}
